* {
    margin: 0;
    padding: 0;
}
header{
    background-color: #CABEC1;
    padding: 20px 200px 0px;
}
body{
    font-family:font-family: 'Open Sans', sans-serif;
}
nav h1{
    font-size:50px;
}
.btn-style{
    border: 0px;
    border-radius: 5px;
    background-color: brown;
    color: beige;
    padding: 12px 28px;
}
.poster{
    display: flex;
    align-items: center;
}
.cover{
    height: 400px;
    width: 350px;
}
/* main saction 1 */
.theme{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    
}
.design{
    display: flex;
    padding: 10px 200px;
    text-align: center;
    
}
.one{
    background-color: #F2DEE8;
    height: 300px;
    width: 250px;
    border-radius: 110px 110px 0px 0px;
    margin: 0px 10px;
}
.two{
    height: 300px;
    width: 250px;
    border-radius: 110px 110px 0px 0px;
    background-color: #DAF0F1; 
    margin: 0px 10px;
}
.three{
    height: 300px;
    width: 250px;
    border-radius: 110px 110px 0px 0px;
    background-color: #E4ECDB;
    margin: 0px 10px;
}
.image-three{
    align-items: center;
    height: 260px;
    width: 220px;
    margin: 40px 40px 0px 30px ;
}
.image-two{
    align-items: center;
    height: 220px;
    width: 220px;
    margin:40px 20px 40px 30px;
}
.image-one{
    align-items: center;
    height: 260px;
    width: 220px;
    margin: 40px 40px 0px 10px ;
}
.little{
    margin-top: 15px;
}
/* row three style */
.cover-three{
    height: 250px;
    width: 150px;
    margin-bottom: 35px;
}
.poster-three{
    display: flex;
    align-items: center;
    margin: 40px;
    justify-content: space-between;
}
.row-three{
    background-color: azure;
    padding: 20px 300px 0px;
    margin: 80px 0px;
}
/* section four */
.row-four{
    margin: 5px;
    padding: 0px;
}
.design-four{
    display: flex;
    text-align: center;
    padding: auto;
    justify-content: center;
}
input{
    height: 30px;
    width: 600px;
}
.sub-style{
    border: 0px;
    border-radius: 5px;
    background-color: rgb(231, 40, 40);
    color: beige;
    padding: 12px 28px;
}
.container{
    text-align: center;
    height: 350px;
    margin: 60px 180px;
    border: 01px solid white;
    background-image:url("/images/Rectangle\ 9.png")  
}
/* footer styles */
